<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>lmry.org</title>
    <link rel="stylesheet" href="/lmry.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script>
     $(document).ready(function() {
      $("#header").click(function(){          
          window.location.replace('/');
      });
     });
     function saveURL(){
        $.post("/save",{url:document.forms.short_url.url.value},
          function(data){
            //alert(data);
            $("#saved_url").html(data);
          }, "html");
          $("#saved_url").fadeIn("slow");
      }
    </script>
</head>
<body>
    <div id="header">
        &#8646; lmry <span id="sub50">short urls for data geeks and others</span>

    </div>