<%=erb(:header)%>
<div id="content">
<form method="post" name="short_url" action="javascript:saveURL(this);">
    Enter a URL: <input type="text" name="url" size="65"/>
    <br/>
    <input type="Submit" value="Create"/>
</form>
</div>
<div id="saved_url">
</div>
<%=erb(:footer)%>