%html
  %head
    %link{:rel=>'stylesheet', :href=>'http://polera.org/static/css/polera.css'}
  %body 
    %div
      %h2 
        This is version #{@version} of Sinatra
      %p
        :markdown
          I like **cake**!