<h2>Your shortened URL is:</h2>
    <% if @recyled_link.to_s == 'true'%>
        Hey, this URL is recycled.  Must be popular...
    <% end %>
<h2><a href="<%=@site%>/<%=@hash%>"><%=@site%>/<%=@hash%></a></h2>